logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
app/assets/swagger/swagger.json
.vscode/settings.json
test/js.js
secret.json
offlineConfig*
app/utils/config.js
*.js
typings/
test/